@font-face {
    src: url(fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf);
    font-family: OpenSans;
    
} /* Importing a custom font named OpenSans from local directory, instead of an API */

body{
    background-color: rgb(41, 41, 41);
} 
h1{
    font-family: Roboto, verdana, arial; /* Font family: That means these are the fonts that will be used to display the text. Two options are given just in case a certain browser doesn't suppost the first */
    border-style: solid;
    border-width: 3px;
}
p{
    font-family: OpenSans , "lucida console", "courier new"; /* Font family: That means these are the fonts that will be used to display the text. Two options are given just in case a certain browser doesn't suppost the first */
    font-size: 1em; /* Font size: That means the size of the text. 1em is equal to the current font size of the element */
    font-weight: bold; /* Font weight: That means how thick or thin the text is. Bold means thick */
    font-style: italic; /* Font style: That means the style of the text. Italic means slanted */
}
#p1 {
    color: tomato; /* Named color: That means these are colors defined by their name */
}
#p2 {
    color: rgb(49, 49, 115); /* RGB color: That means these are colors defined by their red, green, and blue components */
}
#p3 {
    color: hsl(296, 70%, 63%); /* HSL color: That means these are colors defined by their hue, saturation, and lightness */
}
#p4 {
    color: #e2e230; /* Hex color: That means these are colors defined by their hex code */
}
