body{

    background-image: url(images/pinkbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-size: large;
    
} 
#container{
    border: 2px solid black;
}
#container p{ /* Descendant combinator: selector1 selector2; that targets all <p> elements inside #container */
    background-color: rgb(210, 210, 16);
}

a:link { /* Pseudo-class selectors for different link states */
    color: rgb(11, 197, 207);
    font-size: 1.2em;

}
a:hover { /* Pseudo-class selector for hover state */
    color: red;
    font-size: 1.5em;
}
a:active{ /* Pseudo-class selector for active state */
    color: blue;
    font-size: 1.5em;
}
a:visited{ /* Pseudo-class selector for visited state */
    color: green;
    font-size: 1.2em;
}

li:hover{  /* Pseudo-class selector for hover state on list items */
    background-color: rgb(255, 242, 0);
}
li:not(:hover){ /* Pseudo-class selector for non-hover state on list items */
    background-color: white;
}

li:nth-child(3n-1){ /* Pseudo-class selector for every 3rd list item */
    background-color: rgb(200, 200, 200);
}

#greeting p{
    background-color: lightblue;
    padding: 10px;
    display: none; /* Initially hide the paragraph */
}

#greeting:hover p{
    display: block; /* Show the paragraph on hover */
}

h1::first-letter{ /* Pseudo-element selector to style the first letter of h1 */
    font-size: 2em;
    font-style: italic;
}

#intro::first-line{ /* Pseudo-element selector to style the first line of paragraphs */
    background-color: green;
}

#intro::selection{ /* Pseudo-element selector to style selected text */
    background-color: blueviolet;
    color: black;
}

#fruits li::before{ /* Pseudo-element selector to add content before each list item */
    content: "✓ ";
    color: rgb(31, 210, 31);
    font-weight: bold;      /* Makes the checkmark thicker */
    font-size: 1.5em;       /* Optional: makes it larger */
}


#Apple::after{ /* Pseudo-element selector to add content after each list item */
    content: " 🍎";
}

#Banana::after{ /* Pseudo-element selector to add content after each list item */
    content: " 🍌";
}

#Cherry::after{ /* Pseudo-element selector to add content after each list item */
    content: " 🍒";
}

#fruits li::marker{ /* Pseudo-element selector to style the list item marker */
    content: "🟨 ";
    font-size: 1.5em;
    
}
.pagination{ /* Pagination container */
    text-align: center;
}
.pagination a{  /* Pagination links: All the <a> elements inside .pagination */
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
.pagination a.active{ /* When the link is active, that is, the current page */
    background-color: blue;
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){  /* On hover, but not active, that is, when the user hovers over a link */
    background-color: rgb(9, 192, 15);
    border-radius: 5px;
}

.dropdown { /* This is the dropdown class */
    display: inline-block;
}

.dropdown button { /* This is the button inside the dropdown class*/
    background-color: rgb(121, 117, 117);
    color: white;
    padding: 10px 15px;
    cursor:pointer;
}

.dropdown a { /* This is the <a> elements inside the dropdown class */
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content { /* This is the content class inside the dropdown class */
    display: none;
    position: absolute;
    background-color: rgb(214, 214, 214);
    min-width: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.774); /* Adds shadow effect: first number is horizontal offset, second is vertical offset, third is blur radius */
}

.dropdown:hover .content { /* Show the dropdown content on hover */
    display: block;
}

.dropdown:hover button { /* Change button style on hover */
    background-color: coral;
}

.dropdown a:hover { /* Change button style on hover */
    background-color: cornflowerblue;
}

navbar {
    
}

