body{

    background-image: url(images/pinkbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-size: large;
    
} 
#container{
    border: 2px solid black;
}
#container p{ /* Descendant combinator: selector1 selector2; that targets all <p> elements inside #container */
    background-color: rgb(210, 210, 16);
}

a:link { /* Pseudo-class selectors for different link states */
    color: rgb(11, 197, 207);
    font-size: 1.2em;

}
a:hover { /* Pseudo-class selector for hover state */
    color: red;
    font-size: 1.5em;
}
a:active{ /* Pseudo-class selector for active state */
    color: blue;
    font-size: 1.5em;
}
a:visited{ /* Pseudo-class selector for visited state */
    color: green;
    font-size: 1.2em;
}

li:hover{  /* Pseudo-class selector for hover state on list items */
    background-color: rgb(255, 242, 0);
}
li:not(:hover){ /* Pseudo-class selector for non-hover state on list items */
    background-color: white;
}

li:nth-child(3n-1){ /* Pseudo-class selector for every 3rd list item */
    background-color: rgb(200, 200, 200);
}

#greeting p{
    background-color: lightblue;
    padding: 10px;
    display: none; /* Initially hide the paragraph */
}

#greeting:hover p{
    display: block; /* Show the paragraph on hover */
}

h1::first-letter{ /* Pseudo-element selector to style the first letter of h1 */
    font-size: 2em;
    font-style: italic;
}

#intro::first-line{ /* Pseudo-element selector to style the first line of paragraphs */
    background-color: green;
}

#intro::selection{ /* Pseudo-element selector to style selected text */
    background-color: blueviolet;
    color: black;
}

#fruits li::before{ /* Pseudo-element selector to add content before each list item */
    content: "✔️ ";
}

#Apple::after{ /* Pseudo-element selector to add content after each list item */
    content: " 🍎";
}

#Banana::after{ /* Pseudo-element selector to add content after each list item */
    content: " 🍌";
}

#Cherry::after{ /* Pseudo-element selector to add content after each list item */
    content: " 🍒";
}

#fruits li::marker{ /* Pseudo-element selector to style the list item marker */
    content: "🟨 ";
    color: rgb(38, 33, 185);
    font-size: 1.5em;
}

